h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    overflow-x:hidden ;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    /*background-color: #4287BB;*/
    /*background-color: #4987B8; */
    background-color: #fbfcfa;
    box-shadow: 0px 5px 15px rgba(207, 123, 123, 0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
    margin-left: -8px;
    margin-top: -8px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #5c90cc;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #080808;
}


#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #04040126;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



#close {
    display: none;
}

/* Home Page */
#hero{
    background-image: url("img/background/annapurna.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: -8px;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color:#088178;
}
#hero button{
    background-image: url("img/button.png");
    background-color: transparent ;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px ;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box img{
    width:100%;
    margin-bottom:2px ;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc; 
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2; 
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #f6dbf6; 
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #fff2e5; 
}

#product1{
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 20%;
    min-width: 240px;
    padding:10px 12px;
    border: 1px solid #cce7d0;
    border-radius:  25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
    width:100%;
    border-radius:  20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    position:absolute;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    padding-top: 7px;
    font-size: 15px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 { 
    padding-top: 9px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
}

#product1 .cart{
    width:40px;
    height: 40px;
    
}

#product1 .pro .cart{
    width: 55px;
    line-height: 50px;
    border-radius: 9px;
    background-color: #e8f6ea;
    font-weight: 500;
    color:#088178 ;
    border: 1px solid #c5f0cb;
    position: absolute;
    bottom: 25px;
    right: 10px;
    

} 

/*footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 15px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    width: 20px;
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover, 
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.section-p2 {
    padding: 40px 80px;
    background-color: #e5edef;
    margin-left: -6px;
    margin-bottom: -6px;
}

/* Shop Page */

#page-header {
    background-image: url(img/background/realbg.jpeg);
    width: 100%;
    height: 50vh;
    margin-left: -8px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
page-header p{
    color: #fff;
}

/* Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 35%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    padding-top: 30px;
    width: 50%;
}

#prodetails .single-pro-details h5{
    font-size: 25px;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background : #088178;
    color: #fff;
}

#prodetails .single-pro-details input:focus{
        outline: none;
}

#prodetails .single-pro-details span{
    line-height: 25px;
    font-size: 20px;
}

/*About Page */

#about-head {
    display: flex;
    align-items: center;
}

#about-head img{
    width: 40%;
    height: auto;
    padding: 40px 0px 40px 50px ;
}

#about-head div{
    padding-left: 40px;
}

/*Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 50%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px ;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding-bottom: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    padding-top: 50px;
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 400px;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/*Start Media Query */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 3 0px ;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top:0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right:0px; 
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 24px;
    }

    #close {
        display: initial; 
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px ;
    }

    #lg-bag {
        display: none;
    }

    #hero{
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    /*Contact Page */
    #form-details {
        padding: 40px;
    }
    #form-details form{
        width: 50%;
    }

}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header{
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        background-position: 70%;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #feature {
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 130px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    footer .copyright{
        text-align: start;
    }

    /*Single Product*/
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }

    /*About Page */
    #abou-head {
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }

    /*Contact page*/
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
}
.alert{
    background-color: rgb(88, 255, 88);
  }
  .error{
    background-color: rgb(248, 59, 59);
  }
