body{
    /* background-color: #E3E7E8; */
    background-image: url("img/background/pokhara.jpg");
    
    
    font-family: system-ui;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
    
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
     display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
    flex-wrap: wrap;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 20px 20px 30px #757676;
    letter-spacing: 1px;
    border-radius: 20px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
    border-radius: 20px;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius:20px;

}
.list .item button:hover {
    background-color: #0056b3;
    transition: 100ms;
}
.list .item button:active {
    background-color: #004080;
}
.list .item button {
    padding: 10px 20px;
    background-color: #030a10;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* adjust values to your liking */
}
.cart{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .cart{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.cart h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.cart .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.cart .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(185, 81, 81, 0.1); /* Adding drop shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adding transition for smooth effect */
}

.cart .checkOut div:hover {
    background-color: #ffcccc; /* Changing background color on hover */
}

.cart .checkOut div:active {
    transform: translateY(2px); /* Moving the button down on click */
}


.cart .checkOut div:nth-child(2) {
    background-color: #4b1213;
    color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding drop shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adding transition for smooth effect */
}

.cart .checkOut div:nth-child(2):hover {
    background-color: #6e1e1f; /* Changing background color on hover */
}

.cart .checkOut div:nth-child(2):active {
    transform: translateY(2px); /* Moving the button down on click */
}

.listCart li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCart li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCart li img{
    width: 90%;
}
.listCart li button{
    background-color: #fff5;
    border: none;
}
.listCart .count{
    margin: 0 10px;
}